@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

*{
    box-sizing: border-box;
    font-family:'Cabin', sans-serif ;
    font-weight: 50;
}
body{
    background-color:#0d0d0d;
}
.container{
    display: flex;
}
.music-card{
    margin-left: 290px;
    width: 400px;
    display: flex;
    margin-top: 35px;
    height: 570px;
    background: linear-gradient(145deg, #0d0d0d, 
    rgba(0, 0, 0, 0.027));
    box-shadow:  21px 21px 42px rgba(0, 0, 0, 0.041),-21px -21px 42px  black;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    color: #ffffff;
    padding: 25px;

}
.socials{
    display: inline-block;
}
.icon{
    padding-right: 7px;
}
.listen{
    font-weight: 50;
    color: hotpink;
}
.song{
 z-index: 1;
}
.music-control{
    z-index: 999 !important;
}
.card-head{
    font-weight: 600;
    font-size: 20px;
    color: hotpink;
}
.card-subhead{
    font-weight:50 !important;
    font-size: 14px;
    margin-top: -14px;
}

.music-card2{
    width: 400px;
    display: flex;
    margin-top: 35px;
    height: 570px;
    /*background: linear-gradient(145deg, #0d0d0d, black);*/
    box-shadow:  21px 21px 42px black,-21px -21px 42px  rgba(0, 0, 0, 0.0);
    background-image: url("ld.jpg");
    background-size: cover;

}
.item{
    color: #ffffff;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(25px);
    backdrop-filter: brightness(30%);
    -webkit-backdrop-filter: brightness(30%);
    width: 100%;
    height: 100%;
    text-align: center;
}
.album-head{
    margin-top: -5px;
    font-size: 11px;
}
.album-head1{
    margin-top: 10px;
    font-size: 10px;
}
.music-cover{
    width: 270px;
    height: 270px;
    margin-top: 30px;
    border-radius: 30px;
    box-shadow:  21px 21px 42px rgba(0, 0, 0, 0.3),-21px -21px 42px  rgba(0, 0, 0, 0.3);
}
.song-head{
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
}
#dir{
    font-size: 20px;
    padding: 15px;
    margin-top: -5px;
}
#repeat{
    font-size: 20px;
    padding: 15px;
}
#play{
    margin-top: 25px;
    font-size: 50px !important;
    font-weight: 500;
}
#vol{
  font-size: 18px;
  padding: 5px;
}
input[type=range] {
  margin-top: 45px;
  width: 50%;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
.nav-item{
  color: #ffffff;
}
input[type=range]::-webkit-slider-runnable-track {
  background: hotpink;
  border: 2.3px solid #dbd585;
  border-radius: 25px;
  width: 100%;
  height: 5.2px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -10.7px;
  width: 20px;
  height: 20px;
  background: hotpink;
  border: 5px solid #ffcdff;
  border-radius: 12px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background:hotpink;
}
.bottom-nav{
  visibility: hidden;
}
input[type=range]::-moz-range-track {
  background: hotpink;
  border: 2.3px solid #ffbae6;
  border-radius: 25px;
  width: 100%;
  height: 8.2px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 25px;
  height: 37px;
  background: hotpink;
  border: 5px solid #ffbae6;
  border-radius: 12px;
  cursor: pointer;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 18.5px 0;
  color: transparent;
  width: 100%;
  height: 8.2px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #ff68ca;
  border: 2.3px solid #dbd58f;
  border-radius: 50px;
}
input[type=range]::-ms-fill-upper {
  background: hotpink;
  border: 2.3px solid #dbd58f;
  border-radius: 50px;
}
input[type=range]::-ms-thumb {
  width: 25px;
  height: 37px;
  background: #ffff7d;
  border: 5px solid #ffcdff;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
  background: hotpink;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ffbae6;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}
  .logo{
    color: hotpink;
    font-size: 20px;
    font-weight: 800;
    margin-left: 30px;
    position: absolute;
  }
@media(max-width:560px) {
  .bottom-nav{
    visibility: visible;
    background-color: #0d0d0d;
    display: inline-block;
    z-index: 999;
    width: 100%;
    margin-left: -7px;
    position: fixed;
    height: 60px;
    bottom: 0;
  
  }
  .logo{
    margin-top: 30px !important;
  }
  .nav-item{
    display: inline-block;
    margin-bottom: -22px;
    bottom: 0;
    font-size: 18px;
    text-align: center;
    padding: 16px;
    margin-left: 50px;
  }
  .nav-item:hover{
    color: hotpink;
  }

  .container{
        display: grid;
    }
    .song-subhead{
        font-weight: 30;
        margin-top: -15px;
        font-size: 13px;
    }
    .music-cover{
        width: 240px;
        height: 240px;
    }
    .music-card{
        margin-left: 0;
        width:290px;
        margin-top: 80px;
        border-radius: 30px;
        font-size: 16px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .music-card2{
        width: 290px;
        border-radius: 30px;
        height: 530px;
        display: block;
        margin-left: auto;
        margin-right: auto;


        }
    
    }